<div class="bg">
    <div class='card'>
        <div class='card-header'>
             <button class='btn btn-outline-secondary bk-btn'
                    (click)='onBack()'
                    style='width:80px'>
                    Back
            </button>
        </div>

        <div class='card-body'>
            <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                <div class='col-md-8' style="color: #666666"><h1>game</h1></div>
                </div>
                <div class='row'>
                <div class='col-md-8 pronunciation'><h5>[ɡeɪm]</h5></div>
                </div>
                <div class='row'>
                <div class='col-md-8' style="color: #666666"><h4>Noun</h4></div>
                <ul class='col-md-12' style='margin-left: 2rem'>
                    <li>an activity that one engages in for amusement or fun</li>
                </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>