<div style="text-align:center" class="search-glob-container flex-align-center flex-justify-center">
<section class="flex flex-column flex-align-center search-section">
    <h1 class="">
      {{ title }}!
    </h1>
  <div class="welcome-box flex flex-column flex-align-center flex-justify-center">
    <input type="text" name="word" id="search-input" placeholder="search word..."/>
  </div>
  <div class="welcome-box search-container flex flex-column flex-align-center ">
    <button id="search-btn">
      <fa-icon [icon]="['fas', 'search']"></fa-icon>
    </button>
  </div>
</section>
</div>
